mat-form-field {
    width: 100%;
}

.product {
    padding-top: 1rem;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.btn {
    margin-right: .5rem;
}